
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(films:films)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ spaceship?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteFilm()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteFilm()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding="">
 
  <ion-card *ngIf="spaceship" class="movie-card">
    <ion-card-header>Ship Name: {{ spaceship.name }}</ion-card-header>
    
    <ion-card-content>
      Spaceship Type: {{ spaceship.model }}
    </ion-card-content>
 
    <ion-card-content>
      Spaceship value: {{ spaceship.cost_in_credits }}
    </ion-card-content>
    
  </ion-card>
 
</ion-content>