	<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="films">
      <ion-icon name="film"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="species">
      <ion-icon name="species"></ion-icon>
      <ion-label>Species</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="spaceships">
      <ion-icon name="spaceships"></ion-icon>
      <ion-label>Spaceships</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="specimen-details">
      <ion-icon name="specimen-details"></ion-icon>
      <ion-label>Specimen-details</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="spaceship-details">
      <ion-icon name="spaceship-details"></ion-icon>
      <ion-label>Spaceship-details</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>